<ul class="nav navbar-nav navbar-right">
    @{
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">اخرى <span class="caret"></span></a>
            <ul class="dropdown-menu" style="text-align:right;font-weight:bolder;font-size:20px;">
                <li>@Html.ActionLink("الاشعارات", "Index", "Notification")</li>
                <li>@Html.ActionLink("احصائيات", "Index", "Dashboard")</li>
                <li>@Html.ActionLink("التسعير", "Index", "Pricing")</li>
            </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">الرحلات <span class="caret"></span></a>
            <ul class="dropdown-menu" style="text-align:right;font-weight:bolder;font-size:20px;">
                <li>@Html.ActionLink("قائمة الرحلات", "Index", "Order")</li>
                @*<li>@Html.ActionLink("الحسابات", "Index", "Payment")</li>*@
            </ul>
        </li>

       

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">البيانات الاساسية <span class="caret"></span></a>
            <ul class="dropdown-menu" style="text-align:right;font-weight:bolder;font-size:20px;">
                <li>@Html.ActionLink("العملاء", "Index", "Clients")</li>
                @*<li>@Html.ActionLink("المتاجر", "Index", "Stores")</li>*@
                @*<li>@Html.ActionLink("القوائم", "Index", "Menus")</li>*@
                <li>@Html.ActionLink("ملاك المركبات", "Index", "VehicleOwner")</li>

                <li>@Html.ActionLink("السائقين", "Index", "DeliveryMan")</li>
            </ul>
        </li>
    }
</ul>

<ul class="nav navbar-nav navbar-left">
    <li>
        @{
            @Html.ActionLink("تسجيل خروج", "Logout", "Gate")
        }
    </li>
</ul>

