
@{
    ViewBag.Title = "السائقين";
}

@Html.Partial("_TitleHeader", null,
    new ViewDataDictionary {
          { "Title", "السائقين" }
        , {"AddEditController","AddEditDeliveryMan" }
        , {"Controller","DeliveryMan" }})




<table id="table" class="table table-bordered table-hover" style="width:100%">
    <thead class="thead-light">
        <tr class="rows">
            <th>الرقم</th>
            <th>الاسم</th>
            <th>موبايل 1</th>
            <th>موبايل 2</th>
            <th>تاريخ التسجيل</th>
            <th>نوع المركبة</th>
            <th>رقم اللوحة</th>
            <th>رقم الشاسية</th>
            <th>مالك المركبة</th>

            <th>التقييم</th>
            @*<th>الحالة</th>*@
            <th>الحالة</th>
            <th>التفعيل</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
</table>

@section scripts{
    <script>

        var EnableDisableColumn2 = {
            "data": { Id: "Id", isActive: "isActive" },
            "render": RenderEnableDisableButtons2,
            "orderable": false,
            "searchable": false,
            "width": "40px"
        }

        var EnableDisableColumn = {
            "data": { Id: "Id", State: "Status" },
            "render": RenderEnableDisableButtons,
            "orderable": false,
            "searchable": false,
            "width": "40px"
        }

        var buttonColumn = {
            "data": { Id: "Id", Latitude: "Latitude", Longitude: "Longitude" },
            "render": RenderActionButtonsAdmin,
            "orderable": false,
            "searchable": false,
            "width": "155px"
        }

        $(document).ready(
           GetServerSideDataTable('table', '@Url.Action("ViewAllDeliveryMan", "DeliveryMan")',
               [
                   { data: "Id", "name": "Id" },
                   {
                       data: "Username",
                       "name": "Username"
                   },
                   
                   {
                       data: "Phone1",
                       "name": "Phone1"
                   },
                   {
                       data: "Phone2",
                       "name": "Phone2"
                   },
                   {
                       data: "RegisterDate",
                       "name": "RegisterDate",
                       render: convertJsonDateToShortDate,

                   },
                   {
                       data: "VehicleType",
                       "name": "VehicleType",
                       render: RenderVehicleType
                   },
                    {
                        data: "VehicleNumber",
                        "name": "VehicleNumber"
                    },
                       {
                           data: "ChassieNumber",
                           "name": "ChassieNumber"
                       },


                    {
                        data: "VehicleOwnerName",
                        "name": "VehicleOwnerName"
                    },
                   {
                       data: "Rating",
                       "name": "Rating"
                   },
                   //{
                   //      data: "isOnline",
                   //      "name": "isOnline"
                   //},
                   
                   {
                       data: "Status",
                       "name": "Status",
                       render: RenderState
                   },
                    {
                        data: "isActive",
                        "name": "isActive",
                        render: RenderisActive
                    },
                   buttonColumn,
                 EnableDisableColumn,
                 EnableDisableColumn2
               ])
       );

        function RenderActionButtonsAdmin(data) {
            return "<a class='btn btn-success' style='margin-right:4px;' onclick=PopupForm('@Url.Action("AddEditDeliveryMan", "DeliveryMan")/" + data.Id + "')><i class='fa fa-pencil'></i></a>\
                    <a class='btn btn-warning' style='margin-right:4px;' target='_blank' href='https://www.google.com/maps/search/?api=1&query="+ data.Latitude + "," + data.Longitude + "'><i class='fa fa-globe'></i></a>\
                    <a class='btn btn-danger' style='margin-right:1px;' onclick=Delete('@Url.Action("DeleteDeliveryMan", "DeliveryMan")/" + data.Id + "','العميل؟')><i class='fa fa-trash'></i></a>"
        };

        function RenderState(Status) {
            if (Status == 1) { return '<h4><span class="label label-success badge-pill">اونلاين</span></h4>'; }
            else if (Status == 2) { return '<h4><span class="label label-warning badge-pill">اوفلاين</span></h4>'; }
            else if (Status == 0) { return '<h4><span class="label label-danger badge-pill">مشغول</span></h4>'; }

        };

        function RenderVehicleType(VehicleType) {
            if (VehicleType == 1) { return '<h4><span class="label label-success badge-pill">تريسكل</span></h4>'; }
            else if (VehicleType == 0) { return '<h4><span class="label label-danger badge-pill">توكوك</span></h4>'; }

        };

        function RenderisActive(isActive) {
            if (isActive == 1) { return '<h4><span class="label label-success badge-pill">مفعل</span></h4>'; }
            else if (isActive == 0) { return '<h4><span class="label label-danger badge-pill">غير مفعل</span></h4>'; }
        };


        function RenderEnableDisableButtons(data) {
            return "<a class='btn btn-info btn-sm' style='margin-right:1px;'\
                onclick=ToggleStatus('@Url.Action("ToggleDeliveryManStatus", "DeliveryMan")/" + data.Id + "')><i class='fa fa-bus'></i></a>"
        };

        function RenderEnableDisableButtons2(data) {
            if (data.isActive == 0) {
                return "<a class='btn btn-info btn-sm' style='margin-right:1px;'\
                onclick=ToggleStatus('@Url.Action("ToggleDeliveryManActive", "DeliveryMan")/" + data.Id + "')><i class='fa fa-stop'></i></a>"
            }
            if (data.isActive == 1) {
                return "<a class='btn btn-info btn-sm' style='margin-right:1px;'\
                onclick=ToggleStatus('@Url.Action("ToggleDeliveryManActive", "DeliveryMan")/" + data.Id + "')><i class='fa fa-play'></i></a>"
            }
        };


    </script>

    <script>
        AnimateButton2('AddButton');
    </script>
}

